html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer,  hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	/* margin: 0; */
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
    box-sizing: border-box;
    
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
    
  }
  html {
    font-size: 62.5%; 
   
   }
:root {
    --lightBlue: #08D2FB;
    --blue: #219EBC;
    --darkBlue: #304D5A;
    --coral: #EB5050;
    --yellow: #FBD008;
    --green: #5EAB77;

    --beltyellow: #FBD008;
    --beltorange: #FB4A08;
    --beltgreen: #5EAB77;
    --beltpurple: #8710C1;
    --beltlightblue: #08D2FB;
    --beltdarkblue: #190C94;
    --beltbrown: #9E5900;
    --beltred: #D52A28;



}
   h1 {
    font-family: 'cinzel', serif;
    font-size: 6rem;
    color: var(--blue) ;
    font-weight: 700;
   }
   .btn {
    background-color: var(--blue);
    color: white;
    border: none;
    width: 20rem;
    height: 5rem;
    border-radius: 15px;
    font-family: 'cabin', sans-serif;
    font-size: 2.25rem;
    text-transform: uppercase;
   }

   .btnHome {
    height: 80px;
    width: 175px;
    border: none;
    border-radius: 10px;
    color: white;
    font-family: 'cabin', sans-serif;
    font-size: 2rem;
    margin: 1rem 4rem;
    
   }